
.divAzul{
    height: 280px;
    margin-top: -20px; 
    background-color: var(--ion-color-primary);
}
.ionCard{
    margin-top: -200px; 
    border-radius: 10px;
}
.cardTitle{
    text-align: center;
}
.centrarDiv{
    margin-left: 10px; 
    margin-right: 10px;
}
.img{
    width: 113px; 
    margin-left: 60px;
}
.buttonLogin{
    margin-left: 10px; 
    margin-top: 20px;
}
.buttonRegister{
    margin-left: 10px;
}
.error-message{
    color: var(--ion-color-danger);
    margin-left: 20px;
}
