.divAzul{
    height: 100px;
    margin-top: -20px; 
    background-color: var(--ion-color-primary);
}
.centrarDiv{
    margin-right: 20px;
}
.error-message{
    color: var(--ion-color-danger);
    margin-left: 20px;
}